
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Page banner START -->
<section class="py-0">
	<div class="container">
		<!-- Card START -->
		<div class="card bg-light overflow-hidden border-0 px-sm-5 rounded-5 mb-5 mt-5">
			<div class="row align-items-center g-4">

				<!-- Content -->
				<div class="col-sm-9">
					<div class="card-body">

						<!-- Title -->
						<h1 class="m-0 h2 card-title title-font text-success">Votre réservation</h1>
					</div>
				</div>

				<!-- Image -->
				<div class="col-sm-3 text-end d-none d-sm-block">
					<%= image_tag '17.svg', alt: '', class: 'w-75 h-75'%>
				</div>
			</div>
		</div>
		<!-- Card END -->
	</div>
</section>
<!-- =======================
Page banner END -->

<!-- =======================
Page content START -->
<section  data-controller="total-price"   data-total-price-priceperday-value="<%= @room.price_per_day %>">
<%= simple_form_for([@room, @booking]) do |f| %>
	<div class="container" data-controller="datepicker" >
		<div class="row g-4 g-lg-5" >

			<!-- Left side content START -->
			<div class="col-xl-8">
				<div class="vstack gap-5">
					<!-- Hotel information START -->
					<div class="card shadow bg-white rounded-5">
						<!-- Card header -->
						<div class="card-header p-4 border-0 bg-white mb-0 rounded-5">
							<!-- Title -->
							<h3 class="mb-0 title-font text-success"><i class="fa-solid fa-hotel me-2 text-success mt-3 "></i>Informations séjour</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body p-4">
							<!-- Card list START -->
							<div class="card mb-2 border-0 bg-white">
								<div class="row align-items-center">
									<!-- Image -->
									<div class="col-sm-6 col-md-3">
                    <%= image_tag "test2.jpg", alt: '', class: 'card-img rounded-5 w-100 h-100' %>

									</div>

									<!-- Card Body -->
									<div class="col-sm-6 col-md-9">
										<div class="card-body pt-3 pt-sm-0 p-0">
											<!-- Title -->
											<h5 class="card-title"><%= @room.name %></h5>


											<!-- Rating star -->
											<ul class="list-inline mb-0">
												<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												<li class="list-inline-item me-0 small"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
												<li class="list-inline-item ms-2 h6 small fw-bold mb-0">4.5/5.0</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<!-- Card list END -->

              <div class="container2">
							<!-- Information START -->

							<div class="row g-4 mt-4" data-controller="datepicker"   >


								<!-- Item -->
								<div class="col-lg-6">
									<div class="bg-light py-3 px-4 rounded-5">
                 <%= f.input :check_in, as: :string, input_html: {type: 'date', data: { datepicker_target: "startInput" , total_price_target: 'startDate' }  } %>									</div>
								</div>

								<!-- Item -->
								<div class="col-lg-6">
									<div class="bg-light py-3 px-4 rounded-5">
                  <%= f.input :check_out, as: :string, input_html: { data: { datepicker_target: "endInput", total_price_target: "endDate", action: 'change->total-price#calculPrice' } } %>
									</div>
								</div>

								<!-- Item -->

							</div>
              <div class="row g-4 mt-3" >
              <div class="col-lg-6">
									<div class="bg-light py-3 px-4 rounded-3">
                    <%= f.input :number_of_adults, label: "Nombre d'adultes", as: :integer, input_html: { class: ''}  %>
									</div>
								</div>
                <div class="col-lg-6">
              <div class="bg-light py-3 px-4 rounded-3">
                    <%= f.input :number_of_childs, label: "Nombre d'enfants", as: :integer, input_html: { class: ''}  %>
									</div>
              </div>
              </div>
							<!-- Information END -->
              </div>

							<!-- Card START -->
							<div class="card border mt-4 rounded-5 bg-white">
								<!-- Card header -->
								<div class="card-header border-bottom rounded-5 bg-white d-md-flex justify-content-md-between">
									<h5 class="card-title mb-2 mt-2 title-font text-success">Prestations et Services</h5>
									<a href="#" class="btn btn-link text-decoration-none p-0 mb-2 mt-2">Voir la politique d'annulation</a>
								</div>

								<!-- Card body -->
								<div class="card-body">
									<h6 class ="fw-bold title-font">Le prix inclue</h6>
									<!-- List -->
									<ul class="list-group list-group-borderless mb-0">
										<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Free Breakfast and Lunch/Dinner.</li>
										<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Great Small Breaks.</li>
										<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>Free Stay for Kids Below the age of 12 years.</li>
										<li class="list-group-item border-0 bg-white h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>On Cancellation, You will not get any refund</li>
									</ul>
								</div>
							</div>
							<!-- Card END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Hotel information END -->

					<!-- Guest detail START -->
					<div class="card shadow bg-white rounded-5">
						<!-- Card header -->
						<div class="card-header border-bottom p-4 bg-white rounded-5">
							<h4 class="card-title mb-0 title-font text-success "><i class="fa-solid fa-users me-2" style="color: #528852;"></i>Détails invités</h4>
						</div>

						<!-- Card body START -->
						<div class="card-body p-4">
							<!-- Form START -->
							<form class="row g-4">
								<!-- Title -->
								<div class="col-12">
									<div class="bg-light rounded-2 px-4 py-3 mb-2">
										<h6 class="mb-0">Invité principal</h6>
									</div>
								</div>

								<!-- Select -->
								<div class="col-md-2">
									<div class="form-size-lg">
                    <%= f.input :civility,label: "Civilité", as: :select, collection: [["Mr", "Mr"], ["Mme", "Mme"]], include_blank: "Sélectionner" %>

									</div>
								</div>

								<!-- Input -->
								<div class="col-md-5">
								 <%= f.input :first_name, label: "Prénom", as: :string, input_html: { class: ''}  %>

								</div>

								<!-- Input -->
								<div class="col-md-5">
									<%= f.input :last_name, label: "Nom", as: :string, input_html: { class: ''}  %>
								</div>

								<!-- Input -->
								<div class="col-md-6">
									<%= f.input :email, label: "Addresse Email", as: :string, input_html: { class: ''}  %>
								</div>

								<!-- Input -->
								<div class="col-md-6">
									<%= f.input :phone_number, label: "Téléphone", as: :string, input_html: { class: ''}  %>
								</div>
							</form>
							<!-- Form END -->




						</div>
						<!-- Card body END -->
					</div>
					<!-- Guest detail END -->


				</div>
			</div>
			<!-- Left side content END -->

			<!-- Right side content START -->
			<aside class="col-xl-4">
				<div class="row g-4 sticky-top z-sticky-card" style="top: 120px">

					<!-- Price summary START -->
					<div class="col-md-6 col-xl-12 ">
						<div class="card shadow rounded-5  bg-white " >
							<!-- card header -->
							<div class="card-header border-bottom-0 rounded-5 bg-white mt-2">
								<h5 class="card-title mb-0 bg-white title-font text-success">Prix Réservation</h5>
							</div>

							<!-- Card body -->
							<div class="card-body bg-white">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item bg-white border-0 d-flex justify-content-between align-items-center">
										<span class="h6 fw-light mb-0">Prix à la journée HT</span>
										<span class="fs-5" ><%= @room.price_per_day %> €</span>
									</li>
									<li class="list-group-item d-flex bg-white border-0 justify-content-between align-items-center">
										<span class="h6 fw-light mb-0">Total Discount<span class="badge text-bg-danger smaller mb-0 ms-2">10% off</span></span>
										<span class="fs-5 text-success">-$2,560</span>
									</li>
									<li class="list-group-item d-flex bg-white border-0 justify-content-between align-items-center">
										<span class="h6 fw-light mb-0">Price after discount</span>
										<span class="fs-5">$1852</span>
									</li>
									<li class="list-group-item d-flex bg-white border-0 justify-content-between align-items-center">
										<span class="h6 fw-light mb-0"></span>
										<span class="fs-5" ></span>
									</li>
								</ul>
							</div>

							<!-- Card footer -->
							<div class="card-footer border-top-0 bg-white rounded-5">
								<div class="d-flex justify-content-between align-items-center">
									<span class="h5 mb-0 title-font text-success">Prix total HT</span>
                  <%= f.input :total_price, label: false, as: :decimal, input_html: { readonly: true, class: 'w-50 p-0 fs-5 mt-4 text-center bg-white border-0 title-font text-success', data: {'total-price-target' => 'totalPrice'} } %>
                  <span class="h5 mb-0 title-font text-success" > € </span>
								</div>
                <div class="d-flex justify-content-center">
                <div>
                <%= f.submit "Je réserve mon séjour de rêve !",   class: "btn btn-primary mt-3 text-white  rounded-4 mb-2 mt-4" %>
                </div>
                </div>
							</div>
						</div>
					</div>
					<!-- Price summary END -->



				</div>
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>
  <% end %>
</section>
<!-- =======================
Page content START -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
