<div class="navbar navbar-expand-sm shadow-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <div class= "logo-section d-flex">
    <div><%= link_to rooms_path, class: "navbar-brand m-0" do %>
      <%= image_tag 'icons8-wisteria-58.png' , alt: 'Description of the image', class: 'w-75 h-50 mr-1 mt-3 md-3 mb-3' %>


    <% end %></div>

    <div class = "mt-4"><h5><%= link_to 'Gites des Glycines', rooms_path, class: ' text-decoration-none title-font text-success'%></h5></div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>


          <li class="nav-item active">
            <%= link_to "Accueil", rooms_path, class: "nav-link hover-link title-font " %>
          </li>
          <li class="nav-item">
            <%= link_to "Nos locations", "#{rooms_path}#section-target", class: "nav-link hover-link title-font " %>
          </li>
          <li class="nav-item">
            <%= link_to "Tarifs", tarifs_path, class: "nav-link hover-link title-font " %>
          </li>
          <li class="nav-item">
            <%= link_to "Centre de bien-être", centre_bien_etre_path , class: "nav-link hover-link title-font " %>
          </li>

             <li class="nav-item active ms-5">
            <p><strong><%= link_to current_user.first_name, "#" , class: "nav-link" %></strong></p>
            </li>

          <li class="nav-item dropdown mb-3 mt-2 ms-2">

            <i class="fa-solid fa-circle-user fa-2xl" style="color: #528852;" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mon profil", profile_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              <%= link_to "Se déconnecter ", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>

            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
