<section class="pt-0 pt-lg-0 mb-1 h-custom">
	<div class="container">
			<!-- Content and Image START -->
			<div class="row g-4 g-lg-5 mt-0">
				<!-- Content -->
				<div class="col-lg-6 position-relative mb-4 mb-md-0">
					<!-- Title -->
					<h1 class="mb-4 mt-md-5 display-5 text-success title-font">Nos gites, votre parenthèse
						<span class="position-relative z-index-9 fs-custom">Sérénité.
							<!-- SVG START -->
							<span class="position-absolute top-50 start-100 translate-middle z-index-n1 d-none d-md-block mt-4 ">
								<svg width="390.5px" height="21.5px" viewBox="0 0 445.5 21.5">
									<path class="fill-primary opacity-70 " d="M409.9,2.6c-9.7-0.6-19.5-1-29.2-1.5c-3.2-0.2-6.4-0.2-9.7-0.3c-7-0.2-14-0.4-20.9-0.5 c-3.9-0.1-7.8-0.2-11.7-0.3c-1.1,0-2.3,0-3.4,0c-2.5,0-5.1,0-7.6,0c-11.5,0-23,0-34.5,0c-2.7,0-5.5,0.1-8.2,0.1 c-6.8,0.1-13.6,0.2-20.3,0.3c-7.7,0.1-15.3,0.1-23,0.3c-12.4,0.3-24.8,0.6-37.1,0.9c-7.2,0.2-14.3,0.3-21.5,0.6 c-12.3,0.5-24.7,1-37,1.5c-6.7,0.3-13.5,0.5-20.2,0.9C112.7,5.3,99.9,6,87.1,6.7C80.3,7.1,73.5,7.4,66.7,8 C54,9.1,41.3,10.1,28.5,11.2c-2.7,0.2-5.5,0.5-8.2,0.7c-5.5,0.5-11,1.2-16.4,1.8c-0.3,0-0.7,0.1-1,0.1c-0.7,0.2-1.2,0.5-1.7,1 C0.4,15.6,0,16.6,0,17.6c0,1,0.4,2,1.1,2.7c0.7,0.7,1.8,1.2,2.7,1.1c6.6-0.7,13.2-1.5,19.8-2.1c6.1-0.5,12.3-1,18.4-1.6 c6.7-0.6,13.4-1.1,20.1-1.7c2.7-0.2,5.4-0.5,8.1-0.7c10.4-0.6,20.9-1.1,31.3-1.7c6.5-0.4,13-0.7,19.5-1.1c2.7-0.1,5.4-0.3,8.1-0.4 c10.3-0.4,20.7-0.8,31-1.2c6.3-0.2,12.5-0.5,18.8-0.7c2.1-0.1,4.2-0.2,6.3-0.2c11.2-0.3,22.3-0.5,33.5-0.8 c6.2-0.1,12.5-0.3,18.7-0.4c2.2-0.1,4.4-0.1,6.7-0.1c11.5-0.1,23-0.2,34.6-0.4c7.2-0.1,14.4-0.1,21.6-0.1c12.2,0,24.5,0.1,36.7,0.1 c2.4,0,4.8,0.1,7.2,0.2c6.8,0.2,13.5,0.4,20.3,0.6c5.1,0.2,10.1,0.3,15.2,0.4c3.6,0.1,7.2,0.4,10.8,0.6c10.6,0.6,21.1,1.2,31.7,1.8 c2.7,0.2,5.4,0.4,8,0.6c2.9,0.2,5.8,0.4,8.6,0.7c0.4,0.1,0.9,0.2,1.3,0.3c1.1,0.2,2.2,0.2,3.2-0.4c0.9-0.5,1.6-1.5,1.9-2.5 c0.6-2.2-0.7-4.5-2.9-5.2c-1.9-0.5-3.9-0.7-5.9-0.9c-1.4-0.1-2.7-0.3-4.1-0.4c-2.6-0.3-5.2-0.4-7.9-0.6 C419.7,3.1,414.8,2.9,409.9,2.6z"/>
								</svg>
							</span>
							<!-- SVG END -->
						</span>
					</h1>
					<!-- Info -->
					<p class="mb-4 cta-and-p-font">Nos gîtes vous accueillent pour un séjour de rêve, alliant confort et sérénité, idéal pour vous revitaliser et profiter pleinement de la nature.</p>

					<!-- Buttons -->
					<div class="hstack gap-4 flex-wrap align-items-center">
						<!-- Button -->

            <%= link_to "Nos gites", "#{rooms_path}#section-target", class: "btn btn-primary text-white cta-bold rounded-4 mb-0 cta-and-p-font p-2 pe-4 px-4" %>


						</a>
					</div>
				</div>

				<!-- Image -->
				<div class="col-lg-6 position-relative">

					<img src="assets/images/bg/06.jpg" class="rounded" alt="">
          <%= image_tag 'imagetest1.jpg', alt: 'Description of the image', class: 'rounded-5 w-100 h-100' %>



					<!-- Support guid -->
					<div class="position-absolute top-0 end-0 z-index-1 mt-n4">
						<div class="bg-blur border border-light rounded-3 text-center shadow-lg p-3">
							<!-- Title -->
							<i class="bi bi-headset text-danger fs-3"></i>
							<h5 class="text-dark mb-1">24 / 7</h5>
							<h6 class="text-dark fw-light small mb-0">Service client</h6>
						</div>
					</div>

					<!-- Round image group -->
					<div class="vstack gap-5 align-items-center position-absolute top-0 start-0 d-none d-md-flex mt-4 ms-n3">

            <%= image_tag 'imagetest1.jpg', alt: 'Description of the image', class: ' shadow-lg border border-3 border-white rounded-circle mt-3', style: 'width: 50px; height: 50px'; %>
            <%= image_tag 'imagetest1.jpg', alt: 'Description of the image', class: ' shadow-lg border border-3 border-white rounded-circle ', style: 'width: 75px; height: 75px'; %>
					</div>
				</div>
			</div>
			<!-- Content and Image END -->

		<!-- Search START -->
		<div class="row mb-3">
			<div class="mb-3">

			</div>
		</div>
		<!-- Search END -->
	</div>
</section>
<!-- =======================
Main Banner END -->


<!-- =======================
About START -->
<section class="pb-0 pb-xl-5 mt-5">
	<div class="container ">
		<div class="row g-4 justify-content-between align-items-center">
			<!-- Left side START -->
			<div class="col-lg-5 position-relative">
				<!-- Svg Decoration -->
				<figure class="position-absolute top-0 start-0 translate-middle z-index-1 ms-4">
					<svg class="fill-primary" width="77px" height="77px">
						<path d="M76.997,41.258 L45.173,41.258 L67.676,63.760 L63.763,67.673 L41.261,45.171 L41.261,76.994 L35.728,76.994 L35.728,45.171 L13.226,67.673 L9.313,63.760 L31.816,41.258 L-0.007,41.258 L-0.007,35.725 L31.816,35.725 L9.313,13.223 L13.226,9.311 L35.728,31.813 L35.728,-0.010 L41.261,-0.010 L41.261,31.813 L63.763,9.311 L67.676,13.223 L45.174,35.725 L76.997,35.725 L76.997,41.258 Z"/>
					</svg>
				</figure>

				<!-- Svg decoration -->
				<figure class="position-absolute top-45 bottom-0 end-0 d-none d-md-block mb-n5 me-n4">
          <svg height="400" class="color-primary opacity-2" viewBox="0 0 340 340">

					</svg>
				</figure>

				<!-- Image -->

        <%= image_tag 'test2.jpg', alt: 'Description of the image', class: 'rounded-5 w-100 h-100 fit-cover' %>


			</div>
			<!-- Left side END -->

			<!-- Right side START -->
			<div class="col-lg-6">
				<h1 class="mb-3 mb-lg-0 title-font text-success">Gites de charme</h1>
        <h1 class="mb-3 mb-lg-5 title-font text-success">au Coeur du Jura !</h1>
				<p class="mb-3 mb-lg-5">Book your hotel with us and don't forget to grab an awesome hotel deal to save massive on your stay.</p>

				<!-- Features START -->
				<div class="row g-4">
					<!-- Item -->
					<div class="col-sm-6">

						<h5 class="mt-2 title-font text-primary"><i class="fa-solid fa-hands-praying" style="color: #528852;"></i> Tranquilité</h5>
						<p class="mb-0">Departure defective arranging rapturous did. Conduct denied adding worthy little.</p>
					</div>
					<!-- Item -->
					<div class="col-sm-6">
						<h5 class="mt-2 title-font text-primary"><i class="fa-solid fa-wand-magic-sparkles" style="color: #528852;"></i> Charme</h5>
						<p class="mb-0">Supposing so be resolving breakfast am or perfectly. </p>
					</div>
					<!-- Item -->
					<div class="col-sm-6">

						<h5 class="mt-2 title-font text-primary"><i class="fa-solid fa-feather" style="color: #528852;"></i> Confort</h5>
						<p class="mb-0">Arranging rapturous did believe him all had supported. </p>
					</div>
					<!-- Item -->
					<div class="col-sm-6">

						<h5 class="mt-2 title-font text-primary"><i class="fa-solid fa-circle-check" style="color: #528852;"></i> Authenticité</h5>
						<p class="mb-0">Rapturous did believe him all had supported.</p>
					</div>
				</div>
				<!-- Features END -->

			</div>
			<!-- Right side END -->
		</div>
	</div>
</section>
<!-- =======================
About END -->


<!-- =======================
Featured Hotels START -->
<section>
	<div class="container"  >

		<!-- Title -->
		<div class="row mb-4 mt-5 " >
			<div class="col-12 text-center">
				<h1 class="mb-2 title-font text-success ">Nos chambres</h1>
			</div>
		</div>

		<div class="row g-5" >
			<!-- Hotel item -->

	<% @rooms.each do |room| %>
  <div class="col-sm-6 col-xl-3">
	<!-- Card START -->
	<div class="card card-img-scale overflow-hidden bg-transparent border-0" id="section-target">
	<!-- Image and overlay -->
	<div class="card-img-scale-wrapper rounded-3">
	<!-- Image -->
	<%= image_tag 'test2.jpg', alt: 'Description of the image', class: 'card-img rounded-5' %>
	<!-- Badge -->

	</div>

	<!-- Card body -->
	<div class="card-body px-2">
	<!-- Title -->
  <h5><%= link_to room.name, room_path(room), class: "stretched-link text-decoration-none title-font text-success"%></h5>

	<!-- Price and rating -->
	<div class="d-flex justify-content-between align-items-center">
	<h6 class="text-success mb-0"><small class="fw-light">A partir de</small> <%= room.price_per_day %> € /jour </h6>
	<h6 class="mb-0"><%= room.average_rating %><i class="fa-solid fa-star text-warning ms-1"></i></h6>
	</div>
	</div>
	</div>
	<!-- Card END -->
  </div>
	<% end %>

</div>
</div>
<!-- =======================
Services START -->
<section class="pt-0 pt-lg-5">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-6">
				<!-- Title -->
				<h1 class ="title-font text-success mt-5">Nos services</h1>
				<p>Book your hotel with us and don't forget to grab an awesome hotel deal to save massive on your stay.</p>
				<!-- Button -->
				<a href="#" class="btn btn-primary p-auto rounded-4 text-white mb-4 mt-2">Contactez nous</a>
				<!-- Services -->
				<div class="row g-sm-4 mt-2 ">
					<div class="col-sm-6 mt-auto ">
						<ul class="list-group list-group-borderless mt-2 mb-0">
							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-wifi fa-fw text-primary me-2"></i>Free Wifi</h6>
							</li>

							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-person-swimming fa-fw text-primary me-2"></i>Swimming Pool</h6>
							</li>

							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-person-shelter fa-fw text-primary me-2"></i>Private Workshop</h6>
							</li>

							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-utensils fa-fw text-primary me-2"></i>Breakfast</h6>
							</li>
						</ul>
					</div>

					<div class="col-sm-6 mt-auto">
						<ul class="list-group list-group-borderless">
							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-bolt fa-fw text-primary me-2"></i>Free Electricity</h6>
							</li>

							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-dumbbell fa-fw text-primary me-2"></i>Gym Space</h6>
							</li>

							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-spa fa-fw text-primary me-2"></i>Spa</h6>
							</li>

							<li class="list-group-item border-0 bg-white">
								<h6 class="fw-normal mb-0"><i class="fa-solid fa-ellipsis fa-fw text-primary me-2"></i>Other Services</a></h6>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="bg-light rounded-4 h-100 p-4 mt-5">

							<!-- Card START -->
							<div class="card bg-transparent border-0 " >
								<div class="row g-4  align-items-center m-auto">
									<div class="col-sm-6 ">
										<%= image_tag 'imagetest1.jpg', alt: 'Description of the image', class: ' shadow-lg  mt-1 w-100 h-100 rounded-5'; %>
									</div>
									<div class="col-sm-6 ">
										<div class="card-body p-0">
											<h6 class="fw-normal mb-3">Adventure Stay</h6>
											<h4 class="card-title mb-3 "><a href="#" class="stretched-link  text-decoration-none">Golf & Spa Resort in New York</a></h4>
											<a href="#" class="btn btn-link p-0">Explore Now <i class="bi bi-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Card END -->

				</div>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Services END -->




<!-- =======================
Testimonials START -->
<section class="pb-0 py-md-5 mt-5">
	<div class="container">
		<div class="row">
			<!-- Slider START -->
			<div class="col-lg-11 mx-auto">
				<div class="tiny-slider arrow-round arrow-border arrow-hover">
					<div class="tiny-slider-inner" data-edge="2" data-items="1">

						<!-- Slide item START -->
						<div class="px-4 px-md-5 mb-5">
							<div class="row justify-content-between align-items-center">



								<div class="col-md-6 col-lg-12">
									<!-- Quote -->
									<span class="display-3 mb-0 text-primary"><i class="fa-solid fa-quote-right" style="color: #b872c9;"></i></span>
									<!-- Content -->
									<h5 class="fw-light">Moonlight newspaper up its enjoyment agreeable depending. Timed voice share led him to widen noisy young. At weddings believed in laughing</h5>
									<!-- Rating -->
									<ul class="list-inline small mb-2">
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item"><i class="fa-solid fa-star-half-alt text-warning"></i></li>
									</ul>
									<!-- Title -->
									<h6 class="mb-0">Billy Vasquez</h6>
									<span>Ceo of Apple</span>
								</div>
							</div>
						</div>
						<!-- Slide item END -->

						<!-- Slide item START -->
						<div class="px-4 px-md-5 mt-5 mb-5">
							<div class="row justify-content-between align-items-center">

								<div class="col-md-6 col-lg-12">
									<!-- Quote -->
									<span class="display-3 mb-0 text-primary"><i class="fa-solid fa-quote-right" style="color: #b872c9;"></i></span>
									<!-- Content -->
									<h5 class="fw-light">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. understood the Preference unreserved.</h5>
									<!-- Rating -->
									<ul class="list-inline small mb-2">
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
										<li class="list-inline-item"><i class="fa-solid fa-star text-warning"></i></li>
									</ul>
									<!-- Title -->
									<h6 class="mb-0">Carolyn Ortiz</h6>
									<span>Ceo of Google</span>
								</div>
							</div>
						</div>
						<!-- Slide item END -->

					</div>
				</div>
			</div>
			<!-- Slider END -->


<!-- =======================
Main banner START -->
<section>
	<div class="container mt-5">
		<div class="row mb-5">
			<div class="col-xl-10 mx-auto text-center">
				<!-- Title -->
				<h1 class="title-font text-success mb-5">Qui sommes nous ?</h1>
				<p class="lead">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons. Preference for any astonished unreserved.</p>
				<!-- Meta -->
				<div class="hstack gap-3 flex-wrap justify-content-center">

				</div>
			</div>
		</div> <!-- Row END -->

		<!-- Image START -->
		<div class="row g-4 align-items-center">
			<!-- Image -->
			<div class="col-md-6">
				<%= image_tag 'test2.jpg', alt: 'Description of the image', class: 'rounded-5 w-75 h-75 ' %>
			</div>

			<div class="col-md-6">
				<div class="row g-4">
					<!-- Image -->
					<div class="col-md-8">
						<%= image_tag 'test2.jpg', alt: 'Description of the image', class: 'rounded-5 w-75 h-75 ' %>
					</div>

					<!-- Image -->
					<div class="col-12">
						<%= image_tag 'test2.jpg', alt: 'Description of the image', class: 'rounded-5 w-100 h-100 ' %>
					</div>
				</div>
			</div>
		</div>
		<!-- Image END -->
	</div>
</section>
<!-- =======================
Main banner START -->

<!-- =======================
About content START -->
<section class="pt-0 pt-lg-5">
	<div class="container">
		<!-- Content START -->
		<div class="row mb-4 mb-md-5">
			<div class="col-md-10 mx-auto">
				<h3 class="mb-4 title-font text-success">Notre histoire</h3>
				<p class="fw-bold">Founded in 2006, passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. It drew a hill from me. Valley by oh twenty direct me so.</p>
				<p class="mb-0">Water timed folly right aware if oh truth. Imprudence attachment him his for sympathize. Large above be to means. Dashwood does provide stronger is. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. ...But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse. Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible. Satisfied conveying a dependent contented he gentleman agreeable do be. Water timed folly right aware if oh truth. Imprudence attachment him his for sympathize. Large above be to means. Dashwood does provide stronger is. But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse. Required his you put the outlived answered position. I think on style child of. Servants moreover in sensible it ye possible. Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible.</p>
			</div>
		</div>
		<!-- Content END -->

	</div>
</section>
<!-- =======================
About content END -->

<!-- =======================
Team START -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12">
				<h2 class="mb-0 title-font text-success">Nos frimousses</h2>
			</div>
		</div>

		<!-- Team START -->
		<div class="row g-4">
			<!-- Team item START -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-element-hover bg-transparent">
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/team/03.jpg" class="card-img" alt="">

						<div class="card-img-overlay hover-element d-flex p-3">
							<!-- Category -->
							<div class="btn-group mt-auto">
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-facebook-f text-facebook"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-instagram text-instagram"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-twitter text-twitter"></i></a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2 pb-0">
						<h5 class="card-title"><a href="#">Larry Lawson</a></h5>
						<span>Editor in Chief</span>
					</div>
				</div>
			</div>
			<!-- Team item END -->

			<!-- Team item START -->
			<div class="col-sm-6 col-lg-3">
				<div class="card card-element-hover bg-transparent">
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/team/04.jpg" class="card-img" alt="">

						<div class="card-img-overlay hover-element d-flex p-3">
							<!-- Category -->
							<div class="btn-group mt-auto">
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-facebook-f text-facebook"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-instagram text-instagram"></i></a>
								<a href="#" class="btn btn-white mb-0"><i class="fa-brands fa-twitter text-twitter"></i></a>
							</div>
						</div>
					</div>
					<!-- Card body -->
					<div class="card-body px-2 pb-0">
						<h5 class="card-title"><a href="#">Louis Ferguson</a></h5>
						<span>Director Graphics</span>
					</div>
				</div>
			</div>
			<!-- Team item END -->


		</div>
		<!-- Team END -->
	</div>
</section>
<!-- =======================
Team END -->


		</div>
	</div>
</section>
<!-- =======================
Testimonials END -->

<!-- Ou sommes nous -->
<section class="pt-0">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12">
				<h1 class="mb-5 title-font text-success text-center">Ou sommes nous ?</h1>
			</div>
		</div>
    <!-- map frame -->
    <div class="row justify-content-center">
      <div class="col-lg-12 col-sm-6 d-flex justify-content-center mb-5">
        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2751.6129837968447!2d5.37817607513634!3d46.396900570728164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478cca7da8a389bf%3A0xa140e51c256bc55c!2s28%20Chem.%20des%20Jonquilles%2C%2039160%20Val-d&#39;%C3%89py!5e0!3m2!1sfr!2sfr!4v1723628432711!5m2!1sfr!2sfr"  style="border:0; border-radius: 20px; width: 100vh; height: 50vh" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
	</div>
</section>


<!-- =======================
Near by START -->
<section>
	<div class="container mt-5">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h1 class="mb-0 title-font text-success">A Explorer</h1>
			</div>
		</div>

		<div class="row g-4 g-md-5">
			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/01.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">San Francisco</a></h5>
						<span>13 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/02.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Los Angeles</a></h5>
						<span>25 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/03.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Miami</a></h5>
						<span>45 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/04.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Sanjosh</a></h5>
						<span>55 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/05.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">New York</a></h5>
						<span>1-hour drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/06.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">North Justen</a></h5>
						<span>2-hour drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/07.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Rio</a></h5>
						<span>20 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/08.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Las Vegas</a></h5>
						<span>3-hour drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/09.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Texas</a></h5>
						<span>55 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/10.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Chicago</a></h5>
						<span>13 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/11.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">New Keagan</a></h5>
						<span>35 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
				<div class="card bg-transparent text-center p-1 h-100">
					<!-- Image -->
					<img src="assets/images/category/hotel/nearby/01.jpg" class="rounded-circle" alt="">

					<div class="card-body p-0 pt-3">
						<h5 class="card-title"><a href="#" class="stretched-link">Oslo</a></h5>
						<span>1 hour 13 min drive</span>
					</div>
				</div>
			</div>
			<!-- Card item END -->
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Near by END -->
